# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache
*.mypy_cache
*.coverage
*.log

# Virtual environments
.venv
venv/
env/

# Tests
tests/
.coverage
htmlcov/

# Git & CI
.git
.gitignore
.github/

# Docker
Dockerfile*
.dockerignore

# Misc
*.swp
*.swo
*.bak
*.tmp
*.DS_Store