# =================
# Python
# =================
__pycache__/
*.py[cod]
*.egg-info/
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/                # coverage reports

# Virtual environments
.venv/
venv/
env/
.env                    # local env files

# =================
# OS / IDE / Tooling
# =================
.DS_Store
*.swp
*.swo
*.bak
*.tmp
.vscode/
.idea/

# =================
# Build artifacts
# =================
# top-level build dirs
dist/
build/
# nested build output from the React/Vite app served by FastAPI
app/web/dist/

# =================
# Frontend / JS
# =================
node_modules/
*.log

# =================
# Terraform
# =================
.terraform/
terraform.tfstate*
terraform.tfvars

# =================
# Project Docs / Management
# =================
project-management/
